.campo-form  label {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
}
.campo-form  input {
    width: 100%;
}
.campo-form {
    margin-top: 15px;
}

table {
    width: 100%;
    margin-top: 10px;
}

#precoInput, #diasInput {
    width: 99%;
    border: none;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0;
}

td {
    text-align: center;
}

#hidden-select {
    display: none;
}

.trash {
    float: right;
    width: 13px;
    margin-right: 2px;
    margin-top: 2px;
    cursor: pointer;
}

.asterisco {
    color: red;
    font-size: 14px;
}

div.asterisco {
    margin-top: 15px;
}