.wrapper {
    max-width: 360px;
}

select {
    width: 100%;
}

.butoes {
    text-align: center;
}

.butao {
    margin: 15px 5px 15px 5px;
    transform: rotate(90deg);
}

.confirmar {
    margin-top: 15px;
    width: 100px;
    height: 30px;
}