{% extends "base.html" %}

{% block title %} Novo Anúncio {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/announce-instruments.css') }}">
<script> var icon_path = "{{ url_for('static', filename = 'img/ic-trash.svg') }}";</script>
<script src="{{ url_for('static', filename='js/announce-instruments.js') }}"></script>
{% endblock %}

{% block content %}
<h1>Publicar Anúncio de Aluguel de Instrumento</h1>
<form class="content" action="/anunciar-instrumento" method="POST" onsubmit="return validarForm()">

    <div class="campo-form">
        <label>Classe do instrumento <span class="asterisco">*</span></label>
        <input name="classe" type="text" required>
    </div>
    <div class="campo-form">
        <label>Tipo do instrumento <span class="asterisco">*</span></label>
        <input name="tipo" type="text" required>
    </div>
    <div class="campo-form">
        <label>Marca</label>
        <input name="marca" type="text">
    </div>
    <div class="campo-form">
        <label>Modelo</label>
        <input name="modelo" type="text">
    </div>
    <div class="campo-form">
        <label>Número de série</label>
        <input name="numero_serie" type="text">
    </div>

    <select id="hidden-select" name="preco" multiple="multiple">
    </select>
    <div class="campo-form">
        <label>Preço por dia <span class="asterisco">*</span></label>
        <table id="table">
            <tr>
                <th>Preço</th>
                <th>Dias</th>
            </tr>
            <tr id="inputsDaTable">
                <td><input type="tel" pattern="(\d|\.)*" title="apenas números e ." id="precoInput"></td>
                <td><input type="number" id="diasInput"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="button" onclick="adicionarPreco()" value="Adicionar"></td>
            </tr>
        </table>
    </div>

    <div class="asterisco">*: campos obrigatórios</div>

    <div class="campo-form">
        <button type="submit">Publicar</button>
    </div>

</form>
{% endblock %}