{% extends "base.html" %}
{% block title %} Pagamento {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}

{% block content %}
<h1>Histórico de Registros</h1>

<p>Usuário: {{current_user.name}}</p>

<p>Email: {{current_user.email}}</p>

<h2>Locador:</h2>
<table style= "width: 100%">
	<tr>
    	<th>Classe</th>
    	<th>Instrumento</th> 
		<th>Marca</th>
		<th>Data de Retirada</th>
		<th>Data de Devolução</th>
		<th>Locatário</th>
		<th>Avaliação</th>
  	</tr>
{%for record in lesseeRecords%}
	<tr>
		<td>{{record["advert"]["instrument"]["instrument_class"]}}</td>
		<td>{{record["advert"]["instrument"]["instrument"]}}</td>
		<td>{{record["advert"]["instrument"]["brand"]}}</td>
		<td>{{record["loan"]["withdrawal"]}}</td>
		<td>{{record["loan"]["devolution"]}}</td>
		<td>{{record["loan"]["lessee"]["name"]}}</td>
		<td>{{record["rating"]}}</td>
	</tr>
{%endfor%}
</table>

<h2>Locatário:</h2>
<table style= "width: 100%">
	<tr>
    	<th>Classe</th>
    	<th>Instrumento</th> 
		<th>Marca</th>
		<th>Data de Retirada</th>
		<th>Data de Devolução</th>
		<th>Locador</th>
  	</tr>
{%for record in locatorRecords%}
	<tr>
		<td>{{record["advert"]["instrument"]["instrument_class"]}}</td>
		<td>{{record["advert"]["instrument"]["instrument"]}}</td>
		<td>{{record["advert"]["instrument"]["brand"]}}</td>
		<td>{{record["loan"]["withdrawal"]}}</td>
		<td>{{record["loan"]["devolution"]}}</td>
		<td>{{record["loan"]["lessee"]["name"]}}</td>
	</tr>
{%endfor%}
</table>
{% endblock %}