<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">

{% if current_user.is_authenticated %}

    <h1>Olá, {{ current_user.name }}.</h1>
    <h2>Você já está logado. Caso queira deslogar, clique no botão abaixo:</h2>
    <input type="button" onclick="location.href='/logout';" value="Deslogar"/>

{% else %}

    <h1>Bem Vindo ao Sistema de Locação de Instrumentos Musicais</h1>

    <h2>Entrar</h2>

    <form action="/" method="POST">

        <div class="campo-form">
            <label>Usuário ou E-mail</label>
            <input type="text" name="username_email" placeholder="Usuário ou E-mail">
        </div>

        <div class="campo-form">
            <label>Senha</label>
            <input type="password" id="password" name="password" placeholder="Sua senha secreta">
        </div>

        <input type="hidden" name="type" value="login">

        <div class="campo-form">
            <button type="submit">Entrar</button>
        </div>

    </form>

    {% if error_login %}
    <p class="error">Erro: {{ error_login }}</p>
    {% endif %}

    <h2>Criar Conta</h2>

    <form action="/" method="POST">

        <div class="campo-form">
            <label>Usuário</label>
            <input type="text" id="username" name="username" placeholder="Nome de usuário">
        </div>

        <div class="campo-form">
            <label>E-mail</label>
            <input type="email" id="email" name="email" placeholder="endereço@dominio.com.br">
        </div>

        <div class="campo-form">
            <label>Senha</label>
            <input type="password" id="password" name="password" placeholder="Sua senha secreta">
        </div>

        <input type="hidden" name="type" value="register">

        <div class="campo-form">
            <button type="submit">Criar Conta</button>
        </div>

    </form>

    {% if error_register %}
    <p class="error">Erro: {{ error_register }}</p>
    {% endif %}

{% endif %}