{% extends "base.html" %}
{% block title %}Página de Locação{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}

{% block content %}
<form action="#" method="POST" action="/locacao/{{id}}">
	
	<h2>Dados do Locatário:</h2>

	<p>Usuário: {{user}}</p>
	<p>Email: {{email}}</p>

	<!-- date format: AAAA-DD-MM -->
	<h2>Período de Locação:</h2>

	<label for="start"> Data de Retirada:</label>
	<input type= "date" id="retirada" name="retirada_instrumento"
		   value="2020-01-01" 
		   min="2020-01-01" max="2020-12-30">
	<br>
	
	<label for="start"> Data de Devolução:</label>
	<input type= "date" id="devolucao" name="devolucao_instrumento"
		   value="2020-02-01"
		   min="2020-02-01" max="2020-12-31">
	<br>

	<p><button type="submit">Proceder para pagamento</button></p>

</form>
{% endblock %}