{% extends "base.html" %}
{% block title %}Página de Locação{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}

{% block content %}
<form action="#" method="POST" action="/locacao/{{id}}">
	
	<h2>Dados do Locador:</h2>

	<p>Usuário: {{user}}</p>
	<p>Email: {{email}}</p>

	<h2>Dados do Instrumento</h2>
	<p>Marca: {{brand}}</p>
	<p>Modelo: {{model}}</p>

	<p>Preço por Dia:</p>
	<table>
		<tr>
			<th>Preço</th>
			<th>Dias</th>
		</tr>
		{% for price in prices%}
		<tr>
			<td>{{price[0]}}</td>
			<td>{{price[1]}}</td>
		</tr>
		{% endfor %}
	</table>

	<!-- date format: AAAA-DD-MM -->
	<h2>Período de Locação:</h2>
	<form action="/locacao/{{id}}">
	<label for="start"> Data de Retirada:</label>
	<input type= "date" id="retirada" name="retirada_instrumento"
		   value="1970-01-01" 
		   min="1970-01-01" max="9021-12-30">
	<br>
	
	<label for="start"> Data de Devolução:</label>
	<input type= "date" id="devolucao" name="devolucao_instrumento"
		   value="2000-02-01"
		   min="2000-01-01" max="9021-12-31">
	<br>
	<p><button type="submit">Proceder para pagamento</button></p>
	</form>

</form>
{% endblock %}