{% extends "base.html" %}
{% block title %}Página de Locação{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/locacao.css') }}">
<script src="{{ url_for('static', filename='js/locacao.js') }}"></script>
{% endblock %}

{% block content %}
<form action="#" method="POST" action="/locacao/{{id}}">
	
	<h1>Dados do Locador:</h1>

	<div class="label">Usuário: <span class="valor">{{user}}</span></div>
	<div class="label">Email: <span class="valor">{{email}}</span></div>

	<h1>Dados do Instrumento</h1>
	<div class="label">Marca: <span class="valor">{{brand}}</span></div>
	<div class="label">Modelo: <span class="valor">{{model}}</span></div>

	<div class="label">Preço por Dia:</div>
	<table>
		<tr>
			<th>Preço</th>
			<th>Dias</th>
		</tr>
		{% for price in prices%}
		<tr>
			<td>{{price[0]}}</td>
			<td>{{price[1]}}</td>
		</tr>
		{% endfor %}
	</table>

	<!-- date format: AAAA-DD-MM -->
	<h1>Período de Locação:</h1>
	<form action="/locacao/{{id}}" onsubmit="return validarForm()">
	<div class="label"> Data de Retirada:</div>
	<input type= "date" id="retirada" class="date" name="retirada_instrumento"
		   value="1970-01-01" 
		   min="1970-01-01" max="9021-12-30">
	<br>
	
	<div class="label"> Data de Devolução:</div>
	<input type= "date" id="devolucao" class="date" name="devolucao_instrumento"
		   value="2000-02-01"
		   min="2000-01-01" max="9021-12-31">
	<br>
	<button type="submit">Proceder para pagamento</button>
	</form>

</form>
{% endblock %}