{% extends "base.html" %}
{% block title %} Vitrine Tipo Instrumento{% endblock %}

{% block head %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
<script src="{{ url_for('static', filename='js/vitrine.js') }}"></script> -->
{% endblock %}

{% block content %}
<h1>Anúncios</h1>
 
{%for anuncio in anuncios%}
<div class="anuncio" >
	<p>Usuário: {{anuncio[0]}}</p>
	<p>Preços: </p>
	<table>
		<tr>
			<th>Preço</th>
			<th>Dias</th>
		</tr>
		{%for preco in anuncio[1]%}
		<tr>
			<td>{{preco[0]}}</td>
			<td>{{preco[1]}}</td>
		</tr>
		{% endfor %}
	</table>
	<p>Marca: {{anuncio[2]}}</p>
	<p>Modelo: {{anuncio[3]}}</p>
	<button onclick="window.location.href='/locacao/{{anuncio[4]}}'">Alugar</button>
</div>
{% endfor %}


{% endblock %}